<div class="card-deck">
    @* Vardiya Left *@
    @await Component.InvokeAsync("BatteryInstallationVardiyaLeftTable")
    @* Vardiya Right *@
    @await Component.InvokeAsync("BatteryInstallationVardiyaRightTable")
</div>